<?xml version='1.0' encoding='utf-8'?>
<widget
        android-versionCode="2030104"
        id="org.wevote.cordova"
        ios-CFBundleVersion="2.3.1.7"
        version="2.3.1"
        xmlns:android="http://schemas.android.com/apk/res/android">
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
    <name>We Vote</name>
    <description>
        We Vote Cordova wrapper for the We Vote WebApp root
    </description>
    <version />
    <author email="info@wevote.us" href="http://wevote.us">
        We Vote Cordova Team
    </author>
    <content src="index.html" />
    <access allows-arbitrary-loads-for-media="true" allows-arbitrary-loads-in-web-content="true" allows-local-networking="true" origin="*" />
    <access origin="about:*" />
    <access origin="*://*.facebook.com/*" />
    <access origin="*://*.google.com/*" />
    <access origin="*://*.googleapis.com/*" />
    <access origin="*://*.youtube.com/*" />
    <access origin="*://wevote.us/*" />
    <access origin="*://*.wevoteusa.org/*" />
    <access origin="*://cdnjs.cloudflare.com/*" />
    <access origin="*" />
    <allow-navigation href="about:*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="*://*.youtube.com/*" />
    <allow-navigation href="*://*.facebook.com/*" />
    <allow-navigation href="*://*.vimeo.com/*" />
    <allow-navigation href="*://*.google.com/*" />
    <allow-navigation href="*://*.googlevideo.com/*" />
    <allow-navigation href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="wevotetwitterscheme:" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="app://apis.google.com/*" />
    <allow-intent href="*://*.googleapis.com/*" />

    <allow-intent href="*" />
    <allow-navigation href="*" />
    <preference name="AllowedSchemes" value="mycoolapp,wevotetwitterscheme" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Scheme" value="app" />
        <preference name="Hostname" value="localhost" />
        <preference name="android-manifest/@android:versionName" value="2.3.0" />
        <preference name="GradlePluginGoogleServicesEnabled" value="true" />
        <preference name="GradlePluginGoogleServicesVersion" value="4.3.13" />
        <preference name="GradleVersion" value="7.2.2" />
        <resource-file src="res/google/google-services.json" target="app/google-services.json" />
        <allow-intent href="market:*" />
        <splash density="ldpi" src="res/screen/android/screen-ldpi-landscape.png" />
        <splash density="mdpi" src="res/screen/android/screen-mdpi-landscape.png" />
        <splash density="hdpi" src="res/screen/android/screen-hdpi-landscape.png" />
        <splash density="xhdpi" src="res/screen/android/screen-xhdpi-landscape.png" />
        <splash density="xxhdpi" src="res/screen/android/screen-xxhdpi-landscape.png" />
        <splash density="xxxhdpi" src="res/screen/android/screen-xxxhdpi-landscape.png" />
        <splash density="land-ldpi" src="res/screen/android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="res/screen/android/screen-mdpi-landscape.png" />
        <splash density="land-hdpi" src="res/screen/android/screen-hdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/screen/android/screen-xhdpi-landscape.png" />
        <splash density="land-xxhdpi" src="res/screen/android/screen-xxhdpi-landscape.png" />
        <splash density="land-xxxhdpi" src="res/screen/android/screen-xxxhdpi-landscape.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
        <splash density="port-xxhdpi" src="res/screen/android/screen-xxhdpi-portrait.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/screen-xxxhdpi-portrait.png" />
        <icon density="hdpi" src="res/icon/android/hdpi/ic_launcher.png" />
        <icon density="ldpi" src="res/icon/android/ldpi/ic_launcher.png" />
        <icon density="mdpi" src="res/icon/android/mdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi/ic_launcher.png" />
        <feature name="SocialSharing">
            <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
        </feature>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <queries>
                <intent>
                    <action android:name="android.intent.action.SENDTO" />
                    <data android:scheme="mailto" />
                </intent>
            </queries>
        </config-file>
        <preference name="defaultBuildToolsVersion" value="30.0.3" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <access origin="*" subdomains="true" />
        <resource-file src="res/google/GoogleService-Info.plist" />
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <preference name="FadeSplashScreenDuration" value="0" />
        <preference name="AllowInlineMediaPlayback" value="false" />
        <preference name="BackupWebStorage" value="local" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="EnableViewportScale" value="false" />
        <preference name="KeyboardDisplayRequiresUserAction" value="true" />
        <preference name="MediaTypesRequiringUserActionForPlayback" value="false" />
        <preference name="SuppressesIncrementalRendering" value="false" />
        <preference name="SuppressesLongPressGesture" value="false" />
        <preference name="Suppresses3DTouchGesture" value="false" />
        <preference name="GapBetweenPages" value="0" />
        <preference name="PageLength" value="0" />
        <preference name="PaginationBreakingMode" value="page" />
        <preference name="PaginationMode" value="unpaginated" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="KeyboardDisplayRequiresUserAction" value="false" />
        <config-file parent="UIStatusBarStyle" platform="ios" target="*-Info.plist">
            <string>Dark Content</string>
        </config-file>
        <config-file parent="FacebookAutoLogAppEventsEnabled" target="*-Info.plist">
            <false />
        </config-file>
        <config-file parent="FacebookAdvertiserIDCollectionEnabled" target="*-Info.plist">
            <false />
        </config-file>
        <config-file parent="UIMainStoryboardFile" target="*-Info.plist">
            <string>CDVLaunchScreen</string>
        </config-file>
        <edit-config file="*-Info.plist" mode="merge" target="NSContactsUsageDescription">
            <string>This app requires access to the contacts to allow users to encourage their friends to vote.</string>
        </edit-config>
        <splash src="res/screen/ios/June2020LaunchScreen.png" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <icon height="20" src="res/icon/ios/icon_20pt.png" width="20" />
        <icon height="29" src="res/icon/ios/icon_29pt.png" width="29" />
        <icon height="40" src="res/icon/ios/icon_20pt@2x.png" width="40" />
        <icon height="44" src="res/icon/ios/icon_22pt@2x.png" width="44" />
        <icon height="50" src="res/icon/ios/icon_50pt.png" width="50" />
        <icon height="57" src="res/icon/ios/icon_57pt.png" width="57" />
        <icon height="58" src="res/icon/ios/icon_29pt@2x.png" width="58" />
        <icon height="60" src="res/icon/ios/icon_20pt@3x.png" width="60" />
        <icon height="66" src="res/icon/ios/icon_33pt@2x.png" width="66" />
        <icon height="72" src="res/icon/ios/icon_72pt.png" width="72" />
        <icon height="76" src="res/icon/ios/icon_76pt.png" width="76" />
        <icon height="80" src="res/icon/ios/icon_40pt@2x.png" width="80" />
        <icon height="87" src="res/icon/ios/icon_29pt@3x.png" width="87" />
        <icon height="88" src="res/icon/ios/icon_44pt@2x.png" width="88" />
        <icon height="100" src="res/icon/ios/icon_50pt@2X.png" width="100" />
        <icon height="114" src="res/icon/ios/icon_57pt@2x.png" width="114" />
        <icon height="120" src="res/icon/ios/icon_40pt@3x.png" width="120" />
        <icon height="144" src="res/icon/ios/icon_72pt@2x.png" width="144" />
        <icon height="152" src="res/icon/ios/icon_76pt@2x.png" width="152" />
        <icon height="167" src="res/icon/ios/icon_83.5@2x.png" width="167" />
        <icon height="180" src="res/icon/ios/icon_60pt@3x.png" width="180" />
        <icon height="216" src="res/icon/ios/icon_108pt@2x.png" width="216" />
        <icon height="234" src="res/icon/ios/icon_117pt@2x.png" width="234" />
        <icon height="1024" src="res/icon/ios/icon_1024pt.png" width="1024" />
        <feature name="SocialSharing">
            <param name="ios-package" value="SocialSharing" />
        </feature>
    </platform>
</widget>
